.container
  p
    | Hermota Meals
    = ' | '
    a(href='http://hermotafitness.com') Hermota Fitness
    = ' | '
    a(href='https://gitter.im/DaftMonk/generator-angular-fullstack') Blog
    = ' | '
    a(href='https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open') Contact us

